<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
/// Geometric versions of core component classes.
/// This code is generated and should not be manually edited.
using GameFrame.Core.Components;
using GameFrame.Core.Interfaces;
using Microsoft.Xna.Framework;

namespace GameFrame.Core.Geometrics;

<#
string path = System.IO.Path.Combine(Directory.GetCurrentDirectory(),"GameFrame","Core","Components");
foreach(string fname in Directory.GetFiles(path))
{
    string name = Path.GetFileNameWithoutExtension(fname);
	if(name == "Twig") continue; // twig works differently
	if(name == "Root") continue; // the root is not geometric
#>
/// <summary>
/// A <see cref="<#=name#>>"/> with geometry.
/// </summary>
public abstract class Geometric<#=name#>(IComponent? parent = null, int layer = 0): <#=name#>(parent, layer), IGeometric
{
    public Rectangle Geometry
	{
		get => _geometry;
		set
		{
			Invalidate();
			_geometry = value;
		}
	}
	public int X
	{
		get => _geometry.X;
		set
		{
			Invalidate();
			_geometry.X = value;
		}
	}
	public int Y
	{
		get => _geometry.Y;
		set
		{
			Invalidate();
			_geometry.Y = value;
		}
	}
	public int Width
	{
		get => _geometry.Width;
		set
		{
			Invalidate();
			_geometry.Width = value;
		}
	}
	public int Height
	{
		get => _geometry.Height;
		set
		{
			Invalidate();
			_geometry.Height = value;
		}
	}
	public Point Center
	{
		get => _geometry.Center;
		set
		{
			Invalidate();
			_geometry.SetCenter(value);
		}
	}

	public void SetCenter(Point p)
	{
		Invalidate();
		_geometry.SetCenter(p);
	}
	public void SetCenter(int x, int y)
	{
		Invalidate();
		_geometry.SetCenter(x, y);
	}

	public bool Overlaps(Point point) => _geometry.Contains(point);
	public bool Overlaps(int x, int y) => _geometry.Contains(x, y);

	private Rectangle _geometry;
}
<#
}
#>